@if(string.IsNullOrWhiteSpace(Model.Href))
{
    <div id="@Model.Id" class="icon @Model.Class" data-action="@Model.ActionId">
        <partial name="@Model.Type.ToString()">
    </div>
}
else
{
    <a id="@Model.Id" class="icon @Model.Class" href="@Model.Href" data-action="@Model.ActionId">
        <partial name="@Model.Type.ToString()">
    </a>
}